.footer {
  height: 90vh;
  width: 100%;
  height: 100vh;
  position: relative;
  font-family: 'Indie Flower', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  background-image: url(../../assets/background/backgroundFooter.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.small {
  text-align: center;
  height: 4vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #383232f0;
  color: #383232c8;
  color: #13112c85;
  color: #13112cd2;

  bottom: 0;
  left: 0;
  font-size: 1.1em;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 0 1em;
  height: 70%;
  width: 80%;
  /* background-color: #e9b7602b;
  background-color: #ff6f0085; */

  border-radius: 40px;
}

.h2 {
  font-size: 10em;
  padding: 0 0.5em;
  font-family: "Satisfy", cursive;
  max-width: 30%;
  text-transform: capitalize;
  color: #383232;
  color: #383232;
  color: #383232;
  color: transparent;
  display: none;
}
.owner {
  text-align: end;
  width: 100%;
  /* color: #383232f0;
  color: #383232;
  color: #ff6f00; */
  /* color: #ffd474; */
  /* color: #383232c8;
  color: #13112c;
  color: #13112ce5; */
  /* color: #08255e; */
  color: #ffbf00;
  font-style: italic;
  font-size: 1.8em;
}

.quote {
  font-size: 1.7em;
  color: #383232f0;
  color: #383232;
  font-size: 3.7em;
  color: #08255e;
  /* color: #ffbf00; */
  /* color: #13112c; */
  /* color: #383232c8; */
}

.p1 {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  color: #383232f0;
  color: #383232;
  color: #13112c;

  width: 40%;
  width: 80%;
  padding: 0 1em;
  gap: 2em;
  text-align: center;
}

.address {
  font-size: 0.7em;
  text-align: center;
  color: #383232f0;
  color: #383232;
  display: none;
}

@media (max-width: 1100px) {
  .h2 {
    font-size: 8em;
  }
  .quote {
    font-size: 1.2em;
  }
}

@media (max-width: 900px) {
  .h2 {
    font-size: 6em;
    max-width: unset;
    text-align: center;
  }
  .quote {
    font-size: 1.1em;
  }
}

@media (max-width: 800px) {
  .footer {
    /* height: auto; */
    background-image: url(../../assets/background/mobileBackgroundFooter.png);

    padding: 5vh 0;
  }
  .container {
    flex-direction: column;

    height: auto;
    padding: unset;
    width: 95%;
  }
  .h2 {
    width: 95%;
    font-size: 4em;
  }
  .p1 {
    margin-top: 2.5vh;
    width: 95%;
  }
  .address {
    margin-bottom: 2.5vh;
    max-width: 90%;
  }
  .owner {
    text-align: center;
  }
}
