.Hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url(../assets/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.container {
    padding: 7em;
    

}
.title {
    
    font-family: 'Satisfy', cursive;
    font-size: 8em;
   
}

.textP {
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: 2em;
}

.divButton {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    height: 10vh;
}

.divButton img {
  width: 5em;
}

.button{
    width: 15em;
    height: 7.5vh;
    border-radius: 35px;
    background-color: #438e32b1;
    color:#f7f7f7;
    border: transparent;
    font-size: 1.8em;
}

@media (max-width:780px) {
    .Hero {
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-image: url(../assets/heroMobile.png);
    }

    .container {        
        width: 50vw;
        height: 50vw;
        margin-top: 10em;
    }

    .title {
        transform: rotate(-90deg);
        font-size: 5em;
        margin-left: -5em;
        margin-top: 1em;
    
    }

    .textP {
       display: none;
    }

    .divButton {
        display: none;
        
    }

    
    
}