.container {
  width: 100vw;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../assets/assetsAbout/backgroundAbout.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
 
}
.testContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  width: 100%;
  max-width: 100vw;
}
.test {
  height: 100%;
  width: 100%;
  max-width: 100vw;

}
.test:first-child {
  border-left: unset;
}

.services {
  font-size: 3em;
  font-size: 8em;
  text-align: center;
  margin-bottom: 2.5vh;
  font-family: 'Gloria Hallelujah', cursive;
  color: #13112ce5;
}

.servicesLi {
  margin-bottom: 2.5vh;
  color: #13112cc7;
  font-size: 2em;
  font-size: 2.7em;
  font-family: 'Indie Flower', cursive;
  letter-spacing: 2px;
  max-width: 90%;
}

/* MODO RESPONSIVO */

@media (max-width: 1273px){
  .container {
    width: 100%;
    height: 100%;
  }

  .test {
    width: 95%;
    margin-top: 5em;
    /* white-space: nowrap; */
  }

  
  .services {
    width: 60%;
    height: 60%;
  }
  
  .servicesLi {
    width: 100%;
    text-align: center;
  }

}


@media (max-width: 1097px){
 
  .container {
    width: 100%;
    height: 100%;
  }

  .test {
    width: 100%;
    margin-top: 2em;
  }

  
  .services {
    width: 60%;
    height: 60%;
    font-size: 6em;
  }
  
  .servicesLi {
    width: 95%;
    font-size: 2.4em;
  }
}

@media (max-width: 727px) {
  .testContainer{
    align-items: center;
    width: 100%;
  }
  .test{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container {
    display: flex;
    min-height: 80vh;
    margin-top: 7.5vh;
    flex-direction: column;
    background-image: unset;
    max-width: 100vw;
  }

  .testContainer {
    display: block;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    padding: unset;
  }
  .test {
    height: 100%;
    width: 100%;
  }
  .test:first-child {
    border-left: unset;
  }
  .services {
    height: 60%;
    font-size: 6em;
    text-align: center;
    width:100%

  }
  .servicesLi {
    font-size: 2.4em;
    max-width: 90%;
  }
}
