.container {
  width: 100vw;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.testContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  width: 100%;
  padding: 5em;
}
.test {

  height: 100%;
  width: 100%;
}
.test:first-child {
  border-left: unset;
}

.services {
  font-size: 3em;
  font-size: 8em;
  text-align: center;
  margin-bottom: 2.5vh;
  font-family: 'Gloria Hallelujah', cursive;
  color: #13112ce5;
}

.servicesLi {
  margin-bottom: 2.5vh;
  color: #13112cc7;
  font-size: 2em;
  font-size: 2.7em;
  margin-left: 2.5em;
  font-family: 'Indie Flower', cursive;
  letter-spacing: 2px;
}

/* MODO RESPONSIVO */

@media (max-width: 1454px) {
  .about {
    width: 60%;
  }
}

@media (max-width: 1112px) {
  .about {
    margin-top: -19em;
  }

  .h1 {
    font-size: 10em;
    margin-top: -2em;
    justify-content: center;
    align-items: center;
  }

  .aboutP {
    letter-spacing: 3px;
  }
}

@media (max-width: 727px) {
  .container {
    display: flex;
    height: auto;
    flex-direction: column;
  }

  .testContainer {
    display: block;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    width: 100%;
    padding: 5em;
  }
  .test {
    height: 100%;
    width: 100%;
  }
  .test:first-child {
    border-left: unset;
  }
}
