.Hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-image: url(../../assets/background/backgroundHero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10em;
}

.title {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 23em;
  color: #13112ce5;
}

.titleOne {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 23em;
  margin-left: 2em;
  color: #13112ce5;
}

/* MODO RESPONSIVO */

@media (max-width: 1320px) {
  .container {
    width: 50vw;
    height: 50vw;
    font-size: 1em;
  }

  .title {
    font-size: 20em;
  }

  .titleOne {
    font-size: 20rem;
    margin-left: 1em;
  }
}

@media (max-width: 954px) {
  .title {
    font-size: 15em;
    margin-left: -0.3em;
  }

  .titleOne {
    font-size: 15em;
  }

}

@media (max-width: 800px){
  .Hero {
    background-image: url(../../assets/background/backgroundTwoHero.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .title {
    font-size: 13em;
    margin-left: -0.6em;
  }

  .titleOne {
    font-size: 13em;
  
  }
}

@media (max-width: 736px) {
  .Hero {
    background-size: cover;
    background-image: url(../../assets/background/mobileBackgroundHero.png);
  }

  .container {
    margin-top: 35em;
  }

  .title {
    transform: rotate(-90deg);
    font-size: 13rem;
    margin-left: -2em;
  }

  .titleOne {
    transform: rotate(-90deg);
    font-size: 13rem;
    margin-top: -1em;
    margin-left: -0.5em;
  }
}
