.Hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-image: url(../../assets/assetsHero/backgroundHero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  padding-left:  5em;
}

.title {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 16em;
  width: 100%;
  max-width: 100%;
  width: 50%;
  max-width: 50%;
  color: #13112ce5;

}

.titleOne {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 16em;
  color: #13112ce5;
  width: 60%;
  max-width: 60%;
  text-align: end;

}

/* MODO RESPONSIVO */

@media (max-width: 1320px) {
  .container {
    font-size: 1em;
  }
  .title {
    font-size: 13em;
  }
  .titleOne {
    font-size: 13rem;
  }
}


@media (max-width: 800px){
  .Hero {
    background-image: url(../../assets/assetsHero/backgroundTwoHero.png);
 
  }
}

@media (max-width: 736px) {
  .Hero {
    background-image: url(../../assets/assetsHero/mobileBackgroundHero.png);
  }
  .container{
    padding: unset;
    align-items: center;
    justify-content: flex-end;
  }
  .title {
  font-size: 8em;
    width: 100%;
    padding: unset;
    margin: unset;
    text-align: unset;
    max-width: unset;
    width: unset;
  }

  .titleOne {
    width: 100%;
    font-size: 8em;
    padding: unset;
    margin: unset;
    text-align: unset;
    max-width: unset;
    width: unset;
    padding-bottom: 15vh;
  }
}
