.Hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url(../../assets/background/backgroundHero.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10em;
}

.title {
    font-family: "Satisfy", cursive;
    font-size: 20em;
    color: #383232;
}

.titleOne {
    font-family: "Satisfy", cursive;
    font-size: 20em;
    color: #383232;
    margin-left: 2em;
}

/* MODO RESPONSIVO */

@media (max-width: 1080px) {
  .container {
    width: 50vw;
    height: 50vw;
    font-size: 1em;
  }

  .title {
    font-size: 20em;

  }

  .titleOne {
    font-size: 20rem;
    margin-left: 1em;

  }

}

@media (max-width: 873px) {
  .container {
    width: 50vw;
    height: 50vw;
    font-size: 0.9em;
    margin-left: -6em;
    
  }

  .title {
    font-size: 18em;

  }

  .titleOne {
    font-size: 18rem;
    margin-left: 1em;

  }

}


@media (max-width: 736px) {
  .Hero {
    background-size: cover; 
    background-image: url(../../assets/backgroundMobile.png);
  }

  .container {  
    margin-top: 35em;
    
  }

  .title {
    transform: rotate(-90deg);
    font-size: 13rem;
    margin-left: -1em;
    
  }

  .titleOne {
    font-size: 12rem;
  }
}

@media (max-width: 667px) {
  .Hero {
    background-size: cover; 
    background-image: url(../../assets/background/backgroundMobile.png);
  }

  .container {  
    height: 35vh;
    margin-top: 35em;    
  }

  .title {
    transform: rotate(-90deg);
    font-size: 13rem;
    margin-left: -1em;
    
  }

  .titleOne {
    font-size: 12rem;
    transform: rotate(-90deg);
    margin-left: 0.1em;
    margin-top: -2em;
  }
}






