.Hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-image: url(../../assets/background/backgroundHero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10em;
}

.title {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 23em;
  /* color: #383232;
  color: #0e0d20;
  color: #161433;
  color: #13112c;
  color: #13112cce; */
  color: #13112ce5;
}

.titleOne {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 23em;
  /* color: #383232;
  color: #13112c;
  color: #1a173b;
  color: #13112c; */
  margin-left: 2em;
  color: #13112ce5;
}

/* MODO RESPONSIVO */

@media (max-width: 1320px) {
  .container {
    width: 50vw;
    height: 50vw;
    font-size: 1em;
  }

  .title {
    font-size: 20em;
    /* background-color: red; */
  }

  .titleOne {
    font-size: 20rem;
    margin-left: 1em;
  }
}

@media (max-width: 954px) {
  .title {
    font-size: 15em;
    margin-left: -0.3em;
  }

  .titleOne {
    font-size: 15em;
    /* margin-left: 0.5em; */
  }

}


@media (max-width: 800px){
  .Hero {
    background-image: url(../../assets/background/backgroundTwoHero.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .title {
    /* background-color: red; */
    font-size: 13em;
    margin-left: -0.6em;
  }

  .titleOne {
    font-size: 13em;
    /* background-color: #001aff; */
    /* margin-left: 0.3em; */
  }
}

@media (max-width: 736px) {
  .Hero {
    background-size: cover;
    background-image: url(../../assets/background/mobileBackgroundHero.png);
  }

  .container {
    margin-top: 35em;
  }

  .title {
    transform: rotate(-90deg);
    font-size: 13rem;
    margin-left: -2em;
  }

  .titleOne {
    transform: rotate(-90deg);
    font-size: 13rem;
    margin-top: -1em;
    margin-left: -0.5em;
  }
}

/*@media (max-width: 873px) {
  .container {
    width: 50vw;
    height: 50vw;
    font-size: 0.9em;
    margin-left: -6em;
  }

  .title {
    font-size: 18em;
    background-color: red;

  }

  .titleOne {
    font-size: 18rem;
    margin-left: 1em;
  }
}



@media (max-width: 667px) {
  .Hero {
    background-size: cover;
    background-image: url(../../assets/background/mobileBackgroundHero.png);
  }

  .container {
    height: 35vh;
    margin-top: 35em;
  }

  .title {
    transform: rotate(-90deg);
    font-size: 13rem;
    margin-left: -1em;
  }

  .titleOne {
    font-size: 12rem;
    transform: rotate(-90deg);
    margin-left: 0.1em;
    margin-top: -2em;
  }
} */
